@font-face {
    font-family: 'icones';
    src: url(./assets/font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1D232A;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0px 15px 10px -15px #111;
}

.header-button-menu i::before {
    content: "\e904";
    font-size: 24px;
}

.logo {
    width: 40px;
}

.header-button-notification i::before {
    content: "\e906";
    font-size: 24px;
}

.container {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.init {
    padding: 8px 18px;
}

.card {
    width: 100%;
    overflow: hidden;
}

.card-content {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
}

.card-title {
    grid-column: span 2;
}

.card-sub-title {
    grid-column: span 2;
}


.card-time::before {
    content: "\e90c";
    margin-right: 4px;
}

.card-visualization::before {
    content: "\e90f";
    margin-right: 4px;
}

.image-main {
    object-fit: contain;
}

.btn-play {
    background-color: #0480DC;
    width: 100%;
    grid-column: span 2;
    padding: 16px;
    border-radius: 8px;
}

.btn-play::before {
    content: "\e90b";
}